.parts{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  header{
    flex-grow: 0;
  }

  main{
    flex-grow: 1;
    display: flex;
    flex-flow: row;
  }

  footer{
    flex-grow: 0;
  }